<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body class="bg-gray-50 text-gray-900 flex flex-col min-h-screen">

<!-- Scroll Progress Bar -->
<div id="scrollBar" class="h-0.5 bg-indigo-400 w-0 fixed top-0 left-0 z-[60] transition-all duration-100"></div>

<!-- Navbar -->
{% include "partials/navbar.html" %}

<!-- Main Content -->
    <main class="container mx-auto py-8 px-4 flex-grow">
    {{ embed|safe }}
</main>

<!-- Footer -->
{% include "partials/footer.html" %}

<script src="/assets/js/sweetalert2.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>