<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Title }} | KnowLedger</title>

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/assets/css/tailwind.css">

<!--    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>-->

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="/assets/css/sweetalert2.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>